body {
  background-color: #f9f7fe;
}

.content {
  background-color: white;
  max-width: 600px;
  padding: 20px;
  margin: 45px auto;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
}

#searchform-input {
  background-color: rgb(249, 247, 254);
  width: 80%;
  font-size: 16px;
  /* border-width: initial; */
  border-style: none;
  /* border-color: initial; */
  /* border-image: initial; */
  border-radius: 6px;
  padding: 15px 20px;
}

#searchform-button {
  background-color: #885df1;
  color: white;
  margin-left: 5px;
  padding: 15px 25px;
  font-size: 16px;
  border-style: none;
  border-radius: 6px;
}

header {
  border-bottom: 1px solid rgb(249, 247, 254);
  padding: 0px 0px 30px;
}
